.comp-filtro{
    display: flex;
    width: 25%;
    padding: 15px;
    background-color: #323A45;
    .container{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
    }
    .box-filtro{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3.5em;
    }

    h4{
        padding: 5px;
        text-align:center;
        width: 100;
        background-color: #E74C3C;
        color: #ffffff;
        border-radius: 15px;
        margin-bottom: 1em;
        font-size: 20px;
        font-family: "robotocon-bold";
    }
    p{
        padding: 3px;
        border-radius: 10px;
        width: 80%;
        background-color: white;
        font-family: 'poppins-medium';
        font-size: 14.4px;
    }
    .checkbox-round{
        margin-top: 5px;
        width: 1.7em;
        height: 1.7em;
        background-color: white;
        border-radius: 20%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }

    .checkbox-round:checked{
        background-color: #E74C3C;
    }
    .camp-filtro{
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}


