.finalizar-page{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
   
   

    .ajustar{
    display: flex;
    flex-direction: row;
   
  
    }

    .etapas{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
   
    .forma-pagamento{
        display: flex;
        flex-direction: column;
        width: 18%;
        padding: 1.5em;
    }

    .botao{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 105%;
        margin-top: 8%;
        border-radius: 12px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        padding: 10px;
        color:  black;
    }

    .botao-sair{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 105%;
        margin-top: 8%;
        border-radius: 12px;
        background-color: red;
        cursor: pointer;
        text-decoration: none;
        padding: 12px;
        color: white;
        justify-content: center;

    }
    .botao:hover{
        background-color: #323A45;
        color: white;
        border: solid 4px white;
       }
   
       .pagamentos{
        width: 35px;
        height: 30px;
    }

    .conteiner-row{
     display: flex;
     flex-direction: row;
     justify-content: start;
     
    
    }

    

    .metodo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .boxPix{
        border-radius: 12px;
        border: solid 1px gray;
        height: 85%;
        padding: 1.5em;
        margin: 3%;
        background-color: white;
    }

    .boxBoleto{
        border-radius: 12px;
        border: solid 1px gray;
        height: 70%;
        padding: 1.5em;
        margin: 3%;
        background-color: white;
      
    }

    .boxCartao{
        border-radius: 12px;
        border: solid 1px gray;
        height: 90%;
        padding: 1.5em;
        margin: 3%;
        background-color: white;
    }

    .input{
        border-radius: 6px;
        width: 200px;
        height: 28px;
        margin-bottom: 15%;
    }

    .resumo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .log{
        width: 130px;
        height: 55px;
        margin-left: 10%;
    }

    .box2{
        border-radius: 12px;
        border: solid 1px gray;
        height: 70%;
        padding: 1.5em;
        margin: 3%;
        background-color: white;
        width: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }
    

    .pag{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5em;
     
    }

    .valor{
        display: flex;
        flex-direction: row;
        
    }

    .espaço{
        margin-left: 25%;
    }

    .finalizar{
        border: solid blue;
        color: white;
        background-color: blue;
        cursor: pointer;
        text-align: center;
        padding: 1em;
        border-radius: 15px;
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
        width: 60%;
        margin-left: 18%;
       
    }

    .endereço{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
       
    }

    .conteiner-pag{
        display: flex;
        flex-direction: column;
        width: 100%;
      
    }

    .box22{
        border-radius: 12px;
        border: solid 1px gray;
        height: 85%;
        padding: 1.5em;
        margin: 3%;
        background-color: white;
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }

    
    
    .box33{
        border-radius: 12px;
        border: solid 1px gray;
       
        padding: 1.5em;
        margin: 3%;
        background-color: rgb(255, 255, 255);
        width: 79%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        
    }
    .endereco{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        justify-content: center;
        align-items: center;
        
      
    }

    
    .endereco12{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        justify-content: center;
        align-items: center;
        
      
    }

   

    .input-group{
        position: relative;
      }
    
      .input{
        padding: 10px;
        border: solid 1px black;
        border-radius: 4px;
        font: inherit;
        color: black;
        background-color: rgb(255, 255, 255);
        outline: 2px solid #fff;
        
      }
    
      .input-label{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 5px);
        transition: transform .25s;
      }
    
      .input:focus+.input-label,
      .input:valid+.input-label {
        transform:
        translate(10px, -14px) scale(.8);
        color:  #000;
        padding-inline: 5px;
        background-color: #ffffff;
      }
    
      .input:is(:focus , :valid){
        outline-color: #242329;
      }
       
  }  


  
  

