.cadastrar-jogos-page{
  height: 100vh;
  width: 100%;
  background-color: rgb(143, 139, 139);

  display: flex;
  flex-direction:row;

    .cont-faixa-cadastro{
      display: flex;
      flex-direction: column;
      align-items: center;
        
      width: 100%;   
    }

    .container-Column {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4em;
      background-image: url("../../../../public/fundoCadastrar.jpg");
    }
    
      .header > p {
        color: white
      }
    
     
    
        .containerCadastrar {
          width: 1070px;
          height: 514px;
          background-color: azure;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
          border: 2px solid #767676;
         
     
    
        }
    
      .container1, .container2, .container3{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
       
        margin-right: 1em;
        margin-left: 1em;
      
      }
      .imagem-capa{
        height: 3.4rem;
        width: 3.4rem;
      }
      #imagemCapa{
        visibility: hidden;
        width: 1px;
      }

      .imagem-perfil{
        width: 4rem;
        height: 4rem;
        border: solid 6px #fff;
        border-radius: 2rem;
      }

      .w-img{
        width: 8.3rem;
        height: 8.3rem;
      }

      
      .labelInput {
        display: flex;
        flex-direction: row;
        width: 29%;
      }
    
      .boxColumn {
        display: flex;
        flex-direction: column;
      }
    
    
      .faixa-botao {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        background-color: #384AEA;
        border-radius: 10px;
        height: 50px;
        width: 220px;
        border: none; 
        color: white;
        margin-bottom: 1em;
    
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

      input {
        outline: none;
       
      }
    
      .input-height{
        height: 1.9rem;

      }
      button:hover {
        cursor: pointer;
        background-color: #2b3cdb;
    
      }
    
      label {
        padding-right:10px;
      }
    
      select {
        width: 100%;
        height: 30px;
      }

      .adicionar{
        background-color: #E74C3C;
        height: 30px;
        cursor: pointer;
        margin-left: 1rem;
      }

      .adicionar:active{
        transform: scale(1.089);
      }

      .plat-conteiner {
        display: flex;
        flex-wrap: wrap;
      }

      .plat-selecionada {
        font-size: .5rem;
        background-color: #f12b0d;
        padding: 0.1rem 0rem;
        text-align: center;
        height: 1rem;
        margin: 0rem 0rem 0.37rem 0.4rem;
        color: #fff;
        width: 3rem;
        border-radius: 1.4rem;
      }
      
      .box-left{
        display: flex;
        justify-content: space-around;
        width: 30%;
      }
      .maisAdicionar{
        height: 30px;
      }
    
      .img-edit {
        
        width: 10%;
      }

      .m-right{
        margin-right: 3.5rem;
      }
      .m-left{
        margin-left: 4rem;
      }

      .m-all{
        margin: 0em 3em 1em 1em;
        
      }

    @media (max-width:1270px) {
        .containerCadastrar {
          width: 60rem;

        }
    }

    @media (max-width:1150x) {
      .containerCadastrar {
        width: 90%;

      }
  }


    @media (max-width:1100px) {
      .containerCadastrar {
        width: 55rem;   
      }
      .boxColumn {
          width: 25%;
      }

    }

    @media (max-width:1024px) {
      .containerCadastrar {
        width: 50rem;   
      }
      .boxColumn {
          width: 25%;
      }

    }
}



