.admin-pendentes {
    display: flex;
    flex-direction: row;

    .flexboxrow {
        display: flex;
        flex-direction: row;
    }

    .flexboxcolumn {
        display: flex;
        flex-direction: column;
    }
    .container-pagina {
        padding: 1em;
    }

    .flexboxcolumn > label {
        font-weight: bold;

    }

    .pagina-column {
        width: 100%;
        
        
        .boxPedido {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            background-color: #F6F0F0;
            margin-bottom: 5rem;
            border: 1px solid #767676;
            height: 10em;
        }

        .containerBoxes {
            padding: 10px;
            overflow: auto;
            width: 100%;
            background-color: white;
            height: 38rem;
        }
    }

    .infoPedido {
        width: 90%;
        justify-content: space-around;
    }

    .botoes {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .barraPesquisa {
        margin-bottom: 10px;
        width: 12rem;
        input {
            height: 2.5rem;
            width: 14rem;
        }
    }

    button:hover {
        cursor: pointer;
    }

    button {
        height: 2.5rem;
        margin-right: 1rem;
        width: 9rem;
        background-color: #323A45;
        border: none;
        color: #ffffff;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}