.page-rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #323A45;
    padding-top: 2em;

    .conteiner-0{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
  
    .conteiner-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 2%;
    }

    .caixa-1{
        border: solid white;
        color: white;
        border-radius: 15px;
        width: 25%;
        padding: 0.2em;
        text-align: center;
    }

    

    .caixa-2{
        border: solid white;
        color: black;
        border-radius: 15px;
        background-color: white;
        width: 25%;
        padding: 0.2em;
        text-align: center;
        margin-right: 4em;
    }

    .caixa-2:hover{
        border: solid  3px #E74C3C;
        cursor: pointer;
        color: #E74C3C;
    }

    
    .coluna-1{
        color: white;
        width: 80px;
        margin-top: 5px;
        text-decoration: none;
    }

    .tamanho{
        width: 60px;
        height: 60px;
    }

    .tamanho:hover{
        background-color: aqua;
        cursor: pointer;
    }

    .barra-final{
        text-align: center;
        background-color: #596677;
        color: white;
        padding: 0.8em;
        margin-top: 3%;
    }

    h1{
        margin-bottom: 10px;
    }

    p{
        margin-top: 7px;
    }
    p:hover{
        cursor: pointer;
        text-decoration:underline;
        color: purple;
    }

    .redes-sociais{
        display: flex;
        flex-direction: row;
        
    }

    .face{
        width: 55px;
        height: 55px;
    }

    .redes-sociais > div {
        cursor: pointer;
        transition: .3;
        margin: 4px;
    }

    .twiter:hover{
        background-color: rgb(28, 183, 235);
        border-radius: 100px;
       
    }
    .face:hover{
        background-color: rgb(23, 115, 234);
        border-radius: 100px;
       
    }
    .zap:hover{
        background-color: rgb(64, 182, 44);
        border-radius: 100px;
       
    }

    .zap{
        width: 55px;
        height: 55px;
    }

    .twiterbox{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .zapbox{
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .twiter{
        width: 55px;
        height: 55px;
        
    }

    .logo-rodape:hover{
        transform: scale(1.1);
    }

    .links{
        text-decoration: none;
        color: white;
        
    }
    .links:hover{
        color: red;
    }

    
}
