.carrinho-page {
    background-color: #EDEDED;
    .flexboxrow {
        display: flex;
        flex-direction: row;
    }

    .flexboxcolumn {
        display: flex;
        flex-direction: column;
    }
    .faixa-carrinho {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .faixa-imagens {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
    }

    .carrinho-vazio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80vh;
        // background-color: #EDEDED;
    }
    .info-carrinho-vazio {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .faixa-items {
        display: flex;
        flex-direction: row;
       
        justify-content: space-evenly;
        background-color: #EDEDED;
        min-height: 75vh;
    }

    .faixa-items > div{
        margin-top: 50px;
    }
    
    .wrapcolumn {
        overflow: auto;
        flex-wrap: wrap;
    }

    

    .itens-carinho{
        display: flex;
        flex-direction: column;

        
    }

    .box-info {
        border: 2px solid #767676;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: white;
        width: 18%;
        // height: 100%;
        max-height: 330px;
    }

    button:hover {
        cursor: pointer;
    }

    input {
        margin-right: 15px;
        height: 1.5rem;
        width: 3rem;
    }
    button, .button {
        border-radius: 5px;
        height: 3rem;
        width: 10rem;
        background-color: #5E80C2;
        border: none;
        color: white;
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #capa {
        height: 80%;
        width: 10rem;
    }
}