.usuario-page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .flexboxrow {
        display: flex;
        flex-direction: row;
    }

    .flexboxcolumn {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }

    .options {
        width: 25%;

    }

    .container-user {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .title-user{
        margin:3.2rem 0rem 0rem 0rem;
    }

    .box-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.8rem;
    }

    .container-informacoes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        height: 23%;
        margin-bottom: 0.5rem;
    }

    .boxusuario {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        background-color: #DDDDDD;
        border: 1px solid #767676;
       
    }

    .boxdetalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        width: 50%;
        background-color: #DDDDDD;
        border: 1px solid #767676;
        margin-left: 5px;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 77%;
        background-color: #DDDDDD;
        border: 1px solid #767676;

    }

    .container-pessoal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }

    .container-pessoal, .container-conta {
        padding: 1em;
        width: 100%;
    }

    .container-conta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .container-botoes {
        display: flex;
        flex-direction: column;
        width: 11rem;
        justify-content: space-evenly;
       
    }


    .box-info-conta {
        display: flex;
        width: 100%;
    }

    #user-icon {
        width: 20%;
    }
    h1 {
        font-size: 1.5rem;
    }
    button {
        margin-bottom: 10px;
        padding: 1.3rem;
        background-color: #E74C3C;
        border: none;
        border-radius: 25px;
        font-family: "robotocon-regular";
    }
    button:hover{
        cursor: pointer;
    }
}