.page-ajuda{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    

    .conteiner-rodape-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-image: url("../../../../public/imagem-guia-rodape.jpg");
        padding: 2em;
    }

    .item-2{
        color: white;
        width: 22%;
        margin-left: 10%;
    }

    .tituloh1{
        width: 400px;
        font-size: 28px;
        color: white;
        margin-bottom: 20px;
    }

    p{
        width: 300px;
        font-size: 18px;
        font-family: 'poppins-medium';
    }

    .conteiner-rodape-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #323A45;
        padding: 3em;
        width: 100%;
       
    }

    .subconteiner-1{
     display: flex;
     flex-direction: row;
     margin-bottom: 2em;
     padding: 1.2em;
     width: 100%;
    }

    .descricao{
        color: white;
        margin-left: 7%;
    }

    .conteiner-rodape-3{
        background-image: url("../../../../public/fundorodape3.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .info{
        color: white;
        width: 70%;
        margin-bottom: 2em;
        text-align: center;
    }

    .titulo-rodape{
        color: white;
        padding: 1em;
        font-size: 30px;
    }

    .conteiner-rodape-4{
        display: flex;
        flex-direction: column;
        padding: 2em;
        background-color: #596677;
        align-items: center;
    }

    .titulo-rodape{
        color:  white;
        font-size: 29px;
    }

    .subconteiner-2{
        display: flex;
        flex-direction: row;
       align-items: center;
        justify-content: center;
        padding: 1em;
    }

    .div1{
        display: flex;
        flex-direction: column;
        padding: 1.5em;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .imgs{
        height: 200px;
        width: 200px;
    }

    .guia{
        color: white;
        margin-top: 1em;
        font-size: 20px;
    }

    .desc{
     color: white;
     width: 55%;
     text-align: center;
     margin-top: 3%;
     font-size: 21px;
    }

    .conteiner-final{
        padding: 2em;
        background-color: #323A45;
        display: flex;
        flex-direction: column;
        
    }

    .text-h1{
        color: white;
        text-align: center;
        padding: 1em;
    }

    .subcont-final{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3%;
    }

    .redes{
        color: white;
        width: 420px;
        padding: 0.2em;
    }

    @media (max-width: 1025px){
        .conteiner-rodape-1{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            img {
                width: 380px;
                height: 300px;
            }
        }

        .conteiner-rodape-2{
            padding: 0.5em;
        }

        .subconteiner-1{

          
            img {
                height: 65%;
                width: 65%;
                margin-top: 1.2rem;
            }
            p{
               width: 280px;
               font-size: 14px;
             }
             h1{
                font-size: 20px;
                margin-left: 1rem;
             }

            
        }

        .conteiner-rodape-3{
            h1{
                font-size: 22px;
            }

            p{
                font-size: 14px;
            }
        }

        .conteiner-rodape-4{
            h1{
                font-size: 22px;
            }

            p{
                font-size: 15px;
            }

            img {
                width: 50%;
                height: 50%;
            }

            .desc{
                font-size: 18px;
            }
        }

        .conteiner-final{
            .text-h1{
                font-size: 18px;
            }

            .subcont-final{
                .colum2{
                    p{
                        font-size: 14px;
                    }
                }

                .colum3{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

*{
   // border: solid 1px black;
}

